---
http_interactions:
- request:
    method: get
    uri: https://rubygems.org/api/v1/gems/faraday.json
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - 6afb342e528a1f624b7bac0da9cb9a1d
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Backend:
      - F_Rails 54.186.104.15:443
      Etag:
      - '"fb70c1a7a2decdb5a388e16981cae17b"'
    body:
      encoding: ASCII-8BIT
      string: '{"name":"faraday","downloads":142649283,"version":"0.15.4","version_downloads":10701429,"platform":"ruby","authors":"Rick
        Olson","info":"HTTP/REST API client library.","licenses":["MIT"],"metadata":{},"yanked":false,"sha":"00e6ffd6f1bccd9dc9e3b993a0004e69680559422206ce4cbb81fd2d0ba8e268","project_uri":"https://rubygems.org/gems/faraday","gem_uri":"https://rubygems.org/gems/faraday-0.15.4.gem","homepage_uri":"https://github.com/lostisland/faraday","wiki_uri":null,"documentation_uri":"http://www.rubydoc.info/gems/faraday/0.15.4","mailing_list_uri":null,"source_code_uri":null,"bug_tracker_uri":null,"changelog_uri":null,"dependencies":{"development":[],"runtime":[{"name":"multipart-post","requirements":"\u003c
        3, \u003e= 1.2"}]}}'
  recorded_at: Tue, 09 Apr 2019 15:09:28 GMT
- request:
    method: get
    uri: https://api.github.com/repos/lostisland/faraday/releases
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '60'
      X-Ratelimit-Remaining:
      - '54'
      X-Ratelimit-Reset:
      - '1554826169'
      Etag:
      - W/"b602dbf20356b9dcb6239e7a4eb7155f"
      X-Github-Media-Type:
      - github.v3; format=json
    body:
      encoding: ASCII-8BIT
      string: '[{"url":"https://api.github.com/repos/lostisland/faraday/releases/14204111","assets_url":"https://api.github.com/repos/lostisland/faraday/releases/14204111/assets","upload_url":"https://uploads.github.com/repos/lostisland/faraday/releases/14204111/assets{?name,label}","html_url":"https://github.com/lostisland/faraday/releases/tag/v0.15.4","id":14204111,"node_id":"MDc6UmVsZWFzZTE0MjA0MTEx","tag_name":"v0.15.4","target_commitish":"master","name":"Faraday
        0.15.4","draft":false,"author":{"login":"iMacTia","id":2527520,"node_id":"MDQ6VXNlcjI1Mjc1MjA=","avatar_url":"https://avatars1.githubusercontent.com/u/2527520?v=4","gravatar_id":"","url":"https://api.github.com/users/iMacTia","html_url":"https://github.com/iMacTia","followers_url":"https://api.github.com/users/iMacTia/followers","following_url":"https://api.github.com/users/iMacTia/following{/other_user}","gists_url":"https://api.github.com/users/iMacTia/gists{/gist_id}","starred_url":"https://api.github.com/users/iMacTia/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/iMacTia/subscriptions","organizations_url":"https://api.github.com/users/iMacTia/orgs","repos_url":"https://api.github.com/users/iMacTia/repos","events_url":"https://api.github.com/users/iMacTia/events{/privacy}","received_events_url":"https://api.github.com/users/iMacTia/received_events","type":"User","site_admin":false},"prerelease":false,"created_at":"2018-11-27T10:55:37Z","published_at":"2018-11-27T10:56:23Z","assets":[],"tarball_url":"https://api.github.com/repos/lostisland/faraday/tarball/v0.15.4","zipball_url":"https://api.github.com/repos/lostisland/faraday/zipball/v0.15.4","body":"*
        Expose `pool_size` as a option for the NetHttpPersistent adapter (#834)"},{"url":"https://api.github.com/repos/lostisland/faraday/releases/12983102","assets_url":"https://api.github.com/repos/lostisland/faraday/releases/12983102/assets","upload_url":"https://uploads.github.com/repos/lostisland/faraday/releases/12983102/assets{?name,label}","html_url":"https://github.com/lostisland/faraday/releases/tag/v0.15.3","i[...]
