---
http_interactions:
- request:
    method: get
    uri: https://rubygems.org/api/v1/gems/rubocop.json
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - 6afb342e528a1f624b7bac0da9cb9a1d
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Backend:
      - F_Rails 54.186.104.15:443
      Etag:
      - '"011153d1f9c9ef9daf307bbc0deebd35"'
    body:
      encoding: ASCII-8BIT
      string: '{"name":"rubocop","downloads":48887321,"version":"0.63.1","version_downloads":208405,"platform":"ruby","authors":"Bozhidar
        Batsov, Jonas Arvidsson, Yuji Nakayama","info":"    Automatic Ruby code style
        checking tool.\n    Aims to enforce the community-driven Ruby Style Guide.\n","licenses":["MIT"],"metadata":{"homepage_uri":"https://www.rubocop.org/","changelog_uri":"https://github.com/rubocop-hq/rubocop/blob/master/CHANGELOG.md","bug_tracker_uri":"https://github.com/rubocop-hq/rubocop/issues","source_code_uri":"https://github.com/rubocop-hq/rubocop/","documentation_uri":"https://docs.rubocop.org/"},"sha":"5e8a8fadbe248ff9c3727b603d66f23658fe1e1965ae07571365b34a390600df","project_uri":"https://rubygems.org/gems/rubocop","gem_uri":"https://rubygems.org/gems/rubocop-0.63.1.gem","homepage_uri":"https://www.rubocop.org/","wiki_uri":null,"documentation_uri":"https://docs.rubocop.org/","mailing_list_uri":null,"source_code_uri":"https://github.com/rubocop-hq/rubocop/","bug_tracker_uri":"https://github.com/rubocop-hq/rubocop/issues","changelog_uri":"https://github.com/rubocop-hq/rubocop/blob/master/CHANGELOG.md","dependencies":{"development":[{"name":"bundler","requirements":"\u003e=
        1.3.0, \u003c 3.0"},{"name":"rack","requirements":"\u003e= 2.0"}],"runtime":[{"name":"jaro_winkler","requirements":"~\u003e
        1.5.1"},{"name":"parallel","requirements":"~\u003e 1.10"},{"name":"parser","requirements":"\u003e=
        2.5, != 2.5.1.1"},{"name":"powerpack","requirements":"~\u003e 0.1"},{"name":"rainbow","requirements":"\u003e=
        2.2.2, \u003c 4.0"},{"name":"ruby-progressbar","requirements":"~\u003e 1.7"},{"name":"unicode-display_width","requirements":"~\u003e
        1.4.0"}]}}'
  recorded_at: Tue, 05 Feb 2019 13:46:41 GMT
recorded_with: VCR 4.0.0
